* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  min-width: 360px;
  max-width: 768px;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus,
textarea:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #e6e6e6;
}

input:focus:focus-visible,
textarea:focus:focus-visible {
  border-width: 2px;
}
